extends layout

block content
	.navbar.navbar-default.navbar-static-top(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') Avidlet
			.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/')
							| Welcome #{user}
					li
						form.navbar-form(action="/logout", method="post")
							button.btn.btn-default(type="submit")
								| Logout
	p!=message
	#content.container
		.row
			#users.col-md-4
				.row
					h1 Users
				.row
					ul
						-each user in users
							li
								h3=user.fullname
								#books
									-each book in user.books
												.book-outer
													.book
														.book-content
															h4=book.title
															p=book.author
			.col-md-3
				#future
						.row
							h3 Add a new book
						.row
							form#addForm(action="/submit", method="post", role="form" autocomplete="off")
									.form-group
											label(for='titleForm') Title
											input#titleForm.form-control(type="text", name="title", placeholder="Title" required)
										.form-group
											label(for='authorForm') Author
											input#authorForm.form-control(type="text", name="author", placeholder="Author" required)
										.checkbox
											label
												input(type='checkbox', name="reading", checked=false)
												| Completed
										.form-group#dateFormGroup.hidden
											label(for='dateForm') Date Finished
											input#dateForm.form-control(type="date", name="dateFinished")
										button#submitBtn.btn.btn-default.col-xs-12.form-control(type="submit")
											| Submit

block extrascripts
	script.
		$('#addForm :checkbox').change(function() {
		if (this.checked) {
			$('#dateFormGroup').removeClass('hidden');
		}else{
			$('#dateFormGroup').addClass('hidden');
		}
		});
